node_modules/
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# expo
.expo/
.expo-shared/
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# drizzle
apps/api/drizzle/meta/_journal.json.bak

# editores / SO
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
